.App {
  text-align: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

*,*::after,*::before{
    transition: all 0.3s !important;
}

button,label{
  cursor: pointer;
}